{% extends "layout.html" %} {% block body %}

<div class="container">

    <div class="jumbotron">

        <div class="row">
            <div class="col-md-6">
                <span><img src="{{ url_for("static", filename=product["img"]) }}" class="img-rounded" alt="{{ product["name"] }} ?>"></span>
            </div>

            <div class="col-md-6">
                <h1> {{ product["name"] }}</h1>

                <p>{{ product["description"] }}</p>
                <p> <span class='price'> {{ "${:.2f}".format(product["price"]) }}</span></p>
  
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="{{ product["item"] }}">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

                <p><i class="fa fa-paypal" aria-hidden="true"></i>&nbsp;&nbsp;Payments processed by PayPal.</p>
                <p><i class="fa fa-send"></i>&nbsp;&nbsp;Ships in 7 to 10 business days.</p>
                <p><i class="fa fa-credit-card-alt"></i>&nbsp;&nbsp;Payments are backed by PayPal's Purchase Protection program.</p>

            </div>
        </div>
    </div>
</div>

{% endblock %}

<!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->

<!--<div class="breadcrumb"><a href="{{ url_for(" all ") }}">Shirts</a> &gt; {{ product["name"] }} ></div>-->

<!--<div class="row ">
        <div class="col-sm-12 form-group ">
            <button class="btn btn-success btn-large " type="submit " style="font-size: 18px;
        "><i class="fa fa-plus fa-lg " aria-hidden="true "></i> &nbspAdd to Cart</button>
        </div>
    </div>-->